@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&family=Unica+One&display=swap');

.game {
    background-color: transparent;
    width: 100%;
    margin-top: 25px;
    height: 155px;
    border-radius: 8px;
    transform: translate3d(0,0,0);
    font-family: 'Unica One', cursive;
    user-select: none;
}

.minwidthwarn {
    background-color: transparent;
    width: 100%;
    margin-top: 25px;
    height: 155px;
    border-radius: 8px;
    transform: translate3d(0,0,0) translate(0px,15px);
    font-family: 'Unica One', cursive;
    user-select: none;
}

.viewport
{
    user-select: none;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 55px,70px 55px,70px 0%,calc(100% - 55px) 0%,calc(100% - 55px) 55px,100% 55px,100% 100%,0% 100%);
}

.game #hudbg {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 68px;
    height: 55px;
    border-radius: 7px;
    pointer-events:none;
    user-select: none;
}

.game #score {
    font-size: 28px;
    position: absolute;
    left: 6px;
    pointer-events:none;
    user-select: none;
}

.game #lives {
    position: absolute;
    /*left: 100px;*/
    top: 30px;
    left: 6px;
    pointer-events:none;
    user-select: none;
}

.game #lives img {
    width: 19px;
    height: 19px;
    pointer-events:none;
    transition: opacity 0.25s ease-in-out;
    user-select: none;
}

.game .pausegame {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
    user-select: none;
}

.game .menu
{
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background-color: rgba(0,0,0,0.75);
    top: -15px;
    left: -15px;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    user-select: none;
}

.game .menu.open
{
    display: block;
    user-select: none;
}

.game .menu .page
{
    width: 200px;
    max-width: calc(100% - 20px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    user-select: none;
}

.game .menu .page.active
{
    display: block;
    user-select: none;
}

.game .menu .page .highscore
{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    user-select: none;
}

.collectionbtn
{
    top: -24px;
    left: 0px;
    padding: 6px;
    position: absolute;
    --bd: 2px dashed;
    --bg: wheat;
    --text: black;
    width: 40px;
    
}

.audiobtn
{
    top: -24px;
    right: 0px;
    padding: 6px;
    position: absolute;
    --bd: 2px dashed;
    --bg: wheat;
    --text: black;
    width: 40px;
}

.game .menu .page .title
{
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: wheat;
    width: 100%px;
}


#pagecollection {
    position: absolute;
    height: calc(100% - 20px);
    overflow-y: auto;
}

.game .menu .page .title.gameover
{
    color: tomato;
    font-size: 32px;
}

.letter
{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: -3px;
    margin-right: -3px;
    font-size: 20;
    display: inline-block;
    font-family: 'Share Tech Mono', monospace;
}

.projectdesc
{
    text-align: justify;
}

.disabled {
    pointer-events: none;
    opacity: 0.25 !important;
}

.letter.found {
    color: rgba(0, 255, 0, 1);
}

#collectioncontent
{
    width: 100%;
    transform: translate(0px,-10px);
    text-align: center;
    margin-bottom: 5px;
}

.titlecollection
{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    width: 100%px;
}

.miscprojectcontent p {
    pointer-events: none !important;
}

#pagecollection button
{
    width: calc(100% - 50px);
    left: 25px;
    position: relative;
}

.blink {
    animation: blinker 0.6s linear 3;
}

@keyframes blinker {
    50% {
        color: red;
    }
}

.gamefooter {
    z-index: 999;
    position: relative;
    width: 100%;
    text-align: center;
    pointer-events: none !important;
    user-select: none;
    font-size: 14px;
    transform: translate(0px,-4px)
}

.minwidthwarn {
    font-family: 'Readex Pro', sans-serif;
    display: none;
    background-color: rgba(0,0,0,0.75); 
}



.minwidthwarninner {
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    text-align: center;
    top: 50%;
    transform: translate(0px,-50%);
    font-weight: bold;
    color: lightcoral;
}

.tilt {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

@media only screen and (max-width: 550px) {
    .minwidth {
        display: none;
    }

    .minwidthwarn {
        display: block;
        margin-left: -15px;
        margin-top: 0px;
        width: calc(100% + 30px);
    }
}