@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400&display=swap');
body {
    background-color: rgba(24,24,24);
}

button {
    padding: 8px 16px;
    
    --bd: 3px solid;
    /*box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);*/
    line-height: 1.25;
    border: var(--bg) var(--bd);
    background: transparent;
    font-weight: bold;
    text-decoration: none;
    color: var(--bg);
    font-size: 16px;
    letter-spacing: .08em;
    border-radius: 7px;
    transition: background-color .6s ease;
    overflow: hidden;
    cursor: pointer;

    background-position: center;
    transition: background 0.8s,border 0.8s, color 0.2s;
}

.red {
    --bg: tomato;
    --bgdarker: rgb(197, 77, 56);
}

.contact {
    --bg: wheat;
    --bgdarker: rgb(151, 133, 100);
    --text: rgb(73, 73, 73);
}

.facebook {
    --bg: #3b5998;
}

.twitter {
    --bg: #1da1f2;
}

.linkedin {
    --bg: #0a66c2;
}

.gmail {
    --bg: #ea4335;
}

.github {
    --bg: black;
}

.play {
    --bg: #27C93F;
    margin-top: 10px;
}

.green {
    --bg: #27C93F;
}

.yellow {
    --bg: rgb(172, 169, 10);
}



button:hover:not(.inverse) , button.inverse:not(:hover) {
    border: transparent var(--bd);
    color: var(--text);
    background: var(--bg) radial-gradient(circle, transparent 1%, var(--bg) 1%) center/15000%;
}
button:active {
    color: var(--text);;
    background-color: var(--bgdarker);
    background-size: 100%;
    transition: background 0s;
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #222; 
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.full {
    width: 100%;
}

.hidden {
    display: none !important;
}

.center {
    text-align: center;
}

.footer {
    width: auto;
    text-align: center;
    color: white;
    font-family: 'Readex Pro', sans-serif;
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%,0);
}

.fa {
    font-size: 24px !important;
}

button .fa.side {
    line-height: 14px;
    margin-right: 12px;
}

button.social .fa.side {
    line-height: 14px;
    transform: translate(0px,4px);
    margin-right: 12px;
    margin-bottom: 8px;
}


button.social
{
    width: 100%;
    margin-bottom: 10px;
}

*:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.progress {
    width: 100%;
    height: 15px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress:after
{   
    content: '';
    display: block;
    height: 100%; 
    width: 0%;   
}

.progress.fill:after 
{
    transition: width 2s ease-out;
}

.progress[number="1"].fill:after
{
    width: 20% !important;
}

.progress[number="2"].fill:after
{
    width: 40% !important;
}

.progress[number="3"].fill:after
{
    width: 60% !important;
}

.progress[number="4"].fill:after
{
    width: 80% !important;
}

.progress[number="5"].fill:after
{
    width: 100% !important;
}

.progress.green:after
{
    background: #27C93F;
}

.progress.red:after
{
    background: #ea4335;
}

.progress.blue:after
{
    background: #0a66c2;
}

.progress.yellow:after
{
    background: rgb(199, 199, 32);
}

.progress.purple:after
{
    background: #8c2de0;
}

h3
{
    margin-top: 10px;
}

h4
{
    margin-top: 12px;
    margin-bottom: 0px;
}

.separator
{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #ccc;
}


.timeline.step
{
    overflow: hidden;
    width: 100%;
    min-height: 200px;
}

.timeline.header
{
    position: relative;
    width: 100%;
    height: 80px;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%,-50%);
    padding: 10px;
    box-shadow: none;
    display:inline-block;
}

.timeline.date
{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    color: wheat;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    width: fit-content;
    font-size: 30px;
    text-align: center;
}

.timeline.div {
    position: relative;
    width: 200px;
    height: 2px;
    left: 50%;
    transform: translate(-50%,-5px);
    background-color: #ccc;
}

.timeline.text {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.testimage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.projectdesc {
    font-size: 18px;
    font-weight: normal;
}

.image {
    border: 2px solid #666;
    width: calc(50% - 14px);
    
    border-radius: 8px;
    white-space:pre
}

.image + .image {
    margin-left: 16px;
}


.timeline.line
{
    position: relative;
    margin-top: 10px;
    width: 0px;
    left: 50%;
    transform: translate(-50%,0px);
    border: 5px dashed #ccc;
    height: 80px;
}

.innerlink {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.tinyimg
{
    width: 25px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.smallimg {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bigimg {
    width: calc(100% - 20px);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mediumimg {
    width: 175px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timeline.data {
    text-align: center;
    color: white;
    font-weight: normal;
    
}

.h4 {
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.linkicon{
    transform: translate(0px,1px);
    color: wheat;
    margin-left: 5px;
    font-size: 16px !important;
}

.miscproject {
    display: flex;
    align-items: stretch;
}

.miscprojectheader {
    position: relative;
    width: 100px;
    cursor: pointer;
}

.miscprojectcontent {
    width: calc(100% - 100px);
}

.miscprojectcontent .h4 {
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.miscthumb {
    height: 80px;
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%,0%);
    border-radius: 7px;
}

.miscproject + .miscproject {
    margin-top: 40px;
}


.miscprojectcontent p {
    margin-top: 0px;
}

.tag {
    width: fit-content;
    display: inline-block;
    background-color: #1da1f2;
    color: white;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    transform: translate(0px,-1px);
}

.tag + .tag {
    margin-left: 5px;
}

.tag.lang {
    background-color: rgb(250, 61, 250);
}

.tag.lib {
    background-color: rgb(207, 156, 16);
}

.tag.app {
    background-color: #27C93F;
}

@media only screen and (max-width: 1190px) {
    .timeline.header {
        top: 5px;
        transform: translate(-50%,0px);
        height: 90px;
        margin-top: -20px;
    }

    .miscprojectcontent .h4 {
        width: 100%;
        display: block;
    }
    
    .miscprojectcontent {
        text-align: center;
    }

    .miscprojectcontent p {
        text-align: justify;
    }

    .image {
        width: calc(100% - 4px);
    }

    .image + .image {
        margin-left: 0px;
        margin-top: 8px;
    }

    .timeline.step {
        min-height: 0px;
    }

    .timeline.data {
        text-align: justify;
        margin-top: 15px;
        width: fit-content;
        position: relative;
        left: 50%;
        opacity: 1 !important;
        transform: translate(-50%,0px) !important;
    }

    .miscproject {
        display: block;
    }

    .miscprojectheader {
        width: 100%;
        position: initial;
    }

    .miscthumb {
        height: 80px;
        margin-bottom: 10px;
        left: 50%;
        position: relative;
    }

    .miscprojectcontent {
        width: 100%;
    }
    
    .miscprojectcontent .h4
    {
        text-align: center;
    }
    
}

@media only screen and (min-width: 1190px) {
    .timeline.data {
        width: calc(50% - 175px);
        display:inline-block;
    }

    .timeline.line {
        background-color: transparent;
        border: none;
    }

    .timeline.line::before
    {
        content: '';
        display: block;
        height: 200px;
        width: 0px;
        /*background-color: #ccc;*/
        border: 5px dashed #ccc;
        transform: translate(0px,-65px);
    }

    #timeline {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }

    .timeline.step {
        height: 250px;
    }

    .timeline.data.left {
        float: left;
        position: relative;
        left: 25px;
        top: calc(50% - 90px);
        transform: translate(0px,-50%);
    }

    .timeline.data.right {
        float: right;
        position: relative;
        right: 25px;
        top: calc(50% - 90px);
        transform: translate(0px,-50%);
    }
}